# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist

# dependencies
/node_modules

# IDEs and editors
/.idea/workspace.xml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
*.log

# System Files
.DS_Store
Thumbs.db
