{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "color-hex-case": "upper",
    "max-empty-lines": 2,
    "at-rule-no-unknown": null,
    "scss/selector-no-redundant-nesting-selector": true,
    "scss/at-rule-no-unknown": true
  },
  "ignoreFiles": [
    "dist/**",
    "node_modules/**"
  ]
}
