@import "./_variables";

code,
var,
samp,
ruby,
kbd,
rt {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


.fl-text-left {
  text-align: left !important;
}


.fl-text-right {
  text-align: right !important;
}


.fl-text-center {
  text-align: center !important;
}


.fl-text-justify {
  text-align: justify !important;
}
