@charset "UTF-8";

@import "_variables";
@import "_grid";
@import "_gutters";
@import "_grid-spacers";
@import "_master-template";
@import "_typography";

:root {
  --breakpoint-xs: #{$breakpoint-xs};
  --breakpoint-sm: #{$breakpoint-sm};
  --breakpoint-md: #{$breakpoint-md};
  --breakpoint-lg: #{$breakpoint-lg};
  --breakpoint-xl: #{$breakpoint-xl};
}


* {
  box-sizing: border-box;
}


html {
  height: 100%;
  overflow-y: scroll;
}


body {
  min-height: 100vh;
}
