@charset "UTF-8";

@import '../node_modules/normalize.css/normalize.css';
@import "_variables.css";
@import "_grid.css";
@import "_master-template.css";
@import "_typography.css";


* {
  box-sizing: border-box;
}


html {
  height: 100%;
  overflow-y: scroll;
}


body {
  min-height: 100vh;
}
